  <footer>
  {{ partial "footer_custom.html" . }}
  <hr>
  <div class="copyright no-border-bottom">
    <div class="copyright-author-year">
      <span>&copy; 2021-2024</span>
    </div>
    <div class="copyright-links">
      <a href="https://github.com/norery/tintingoo.com" rel="noreferrer" target="_blank">Github</a>
      <span> · </span>
      <a href="https://www.researchgate.net/profile/Yi-Ding-157" rel="noreferrer" target="_blank">ResearchGate</a>
      <span> · </span>
      <a href="https://orcid.org/my-orcid?orcid=0000-0003-3443-9313" rel="noreferrer" target="_blank">ORCID</a>
      <span> · </span>
      <a href="https://www.scopus.com/authid/detail.uri?authorId=58078994400" rel="noreferrer" target="_blank">Scopus</a>
    </div>
  </div>
  </footer>
  </article>
  </body>
</html>
